modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Sports App"

[[workflows.workflow]]
name = "Sports App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python sports_app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
RUN_MODE = "ALL"
CRYPTO_DISCORD_WEBHOOK = "https://discord.com/api/webhooks/1454128407293071393/kxpMSHKwzCqgcCdt-P3S3pqqJ_oCYaJ8wCujtzYI42c4-4hxpmxI59pPNM5ppoqueXC4"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=2", "sports_app:app"]
