flask==3.0.0
flask-sqlalchemy==3.1.1
sqlalchemy==2.0.23
requests==2.31.0
pytz==2023.3
gunicorn==21.2.0
psycopg2-binary==2.9.9
coinbase
yfinance
beautifulsoup4
lxml
cachetools
flask-compress
euroleague-api
yfinance
pandas
playwright
undetected-chromedriver
flask
